<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControlAcceso.Properties.Settings.ControlAccesoConnectionString"
            connectionString="Data Source=PC-SUAN;Initial Catalog=ControlAcceso;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ControlAcceso.Properties.Settings.ControlAcceso1ConnectionString"
            connectionString="Data Source=USUARIO\SQLEXPRESS;Initial Catalog=ControlAcceso1;Persist Security Info=True;User ID=jonyS"
            providerName="System.Data.SqlClient" />
        <add name="ControlAcceso.Properties.Settings.ControlAcceso1ConnectionString1"
            connectionString="Data Source=USUARIO\SQLEXPRESS;Initial Catalog=ControlAcceso1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>